body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 2px; }

.backgr-red {
  background-color: #E23949; }

.backgr-org {
  background-color: #FCAA3A; }

.centered-row {
  display: flex;
  align-items: center;
  justify-content: center; }

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

nav {
  width: 100%;
  height: 79px;
  background-color: #FCAA3A;
  color: #fff;
  font-size: 25px;
  justify-content: flex-end !important; }
  nav i {
    width: 10%;
    text-align: center; }

#nav-hidden {
  display: none; }

.body-content {
  display: flex; }

.side-bar {
  width: 22%;
  height: 100%; }

.total-income,
.total-exp {
  height: 150px;
  width: 100%;
  color: #fff;
  justify-content: space-around; }
  .total-income i,
  .total-exp i {
    font-size: 47px; }
  .total-income span,
  .total-exp span {
    display: block;
    margin-top: 9px;
    font-size: 26px; }
  .total-income > div,
  .total-exp > div {
    font-size: 14px;
    text-align: right; }

.dollar-icon {
  font-size: 10px !important; }

.side-nav-list-container {
  width: 100%;
  background-color: #fff; }

.side-nav-list {
  list-style: none;
  color: #160507;
  width: 100%;
  margin-top: 0;
  padding: 16px 0 0 0;
  overflow: hidden; }
  .side-nav-list li {
    height: 60px;
    width: 100%;
    cursor: pointer; }
  .side-nav-list i {
    margin-left: 19px; }
  .side-nav-list span {
    border-bottom: 0.5px solid #E1D5D1;
    width: 80%;
    padding-bottom: 15px;
    display: inline-block;
    float: right; }

.header {
  width: 100% !important;
  margin-top: 0 !important; }

#add_expense,
#add_income {
  display: none; }

#all-transactions {
  display: none;
  cursor: all-scroll; }

#all-transactions,
#add_expense,
#add_income,
#budget-report {
  width: 79%;
  overflow-x: hidden;
  overflow-y: scroll; }
  #all-transactions p,
  #add_expense p,
  #add_income p,
  #budget-report p {
    width: 100%;
    height: 29px;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 20px; }

.transactions-list {
  list-style: none;
  color: #160507;
  width: 100%;
  padding: 0;
  height: 60%;
  overflow: scroll; }

.balance-container,
.transactions-list li {
  min-height: 60px;
  width: 96%;
  font-size: 24px; }
  .balance-container > div,
  .transactions-list li > div {
    border-bottom: thin solid #E1D5D1;
    width: 90%;
    margin: 0 auto;
    padding: 7.5px 0 7.5px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between; }
  .balance-container i,
  .transactions-list li i {
    text-align: center;
    margin-left: 20px;
    height: 100%; }

#budget-report ul {
  list-style: none;
  width: 90%;
  margin: 20px auto 0 auto;
  padding: 0; }
#budget-report h2 {
  color: #E23949;
  text-decoration: underline;
  margin-left: 48px;
  font-size: 16px; }

.budget-list {
  display: flex;
  justify-content: space-between; }

.spending-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid thin #E1D5D1;
  padding: 7.5px 0 7.5px 0;
  font-size: 16px;
  height: 35px; }
.spending-list span {
  width: 100px; }
.spending-list span:last-child {
  text-align: right; }

.expense-category::first-letter,
.income-category::first-letter {
  text-transform: uppercase !important; }

.income-amount,
.expense-amount,
.balance-label {
  margin-right: 20px; }

.comment-box {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .comment-box span {
    width: 100% !important;
    font-size: 8px;
    color: #E23949;
    margin-top: 6px;
    cursor: pointer;
    display: block; }

.comment {
  display: none;
  width: 100% !important;
  color: #160507 !important;
  font-size: 10px !important;
  letter-spacing: 1px !important;
  text-align: left !important;
  padding: 0 !important;
  height: 100% !important; }

#add_expense,
#add_income {
  height: 88vh; }
  #add_expense > div,
  #add_income > div {
    margin: 26px auto 0 auto;
    width: 90%; }
    #add_expense > div label, #add_expense > div input,
    #add_income > div label,
    #add_income > div input {
      height: 35px; }
    #add_expense > div label,
    #add_income > div label {
      width: 100%;
      color: #E23949;
      font-size: 14px; }
    #add_expense > div input,
    #add_income > div input {
      width: 100%;
      color: #E1D5D1;
      border-bottom: 2px solid #E1D5D1;
      border-top: none;
      border-right: none;
      border-left: none;
      padding-left: 4px;
      font-size: 24px;
      margin-bottom: 10px; }
    #add_expense > div input::first-letter,
    #add_income > div input::first-letter {
      text-transform: uppercase; }
    #add_expense > div input::-webkit-input-placeholder,
    #add_income > div input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #E1D5D1; }
    #add_expense > div input::-moz-placeholder,
    #add_income > div input::-moz-placeholder {
      /* Firefox 19+ */
      color: #E1D5D1; }
    #add_expense > div input:-ms-input-placeholder,
    #add_income > div input:-ms-input-placeholder {
      /* IE 10+ */
      color: #E1D5D1; }
    #add_expense > div input:-moz-placeholder,
    #add_income > div input:-moz-placeholder {
      /* Firefox 18- */
      color: #E1D5D1; }
    #add_expense > div input:focus,
    #add_income > div input:focus {
      outline: none !important;
      border: 1px solid #E23949;
      box-shadow: 0 0 10px #719ECE; }
    #add_expense > div button,
    #add_income > div button {
      color: #fff;
      border: 1px solid #E23949;
      height: 55px;
      width: 379px;
      margin-bottom: 26px;
      cursor: pointer;
      font-size: 20px; }
    #add_expense > div button:focus,
    #add_income > div button:focus {
      outline: none; }
    #add_expense > div input:nth-child(2),
    #add_income > div input:nth-child(2) {
      text-align: right;
      padding-right: 10px; }

.categories {
  width: 380px !important;
  height: 100% !important;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .categories > div {
    width: 125px;
    min-height: 125px;
    cursor: pointer; }
  .categories > div:first-child, .categories > div:nth-child(3) {
    border: thin solid #E1D5D1; }
  .categories > div:nth-child(2) {
    border-top: thin solid #E1D5D1;
    border-bottom: thin solid #E1D5D1; }
  .categories > div:nth-child(4), .categories > div:nth-child(6) {
    border-bottom: thin solid #E1D5D1;
    border-left: thin solid #E1D5D1;
    border-right: thin solid #E1D5D1; }
  .categories > div:nth-child(5) {
    border-bottom: thin solid #E1D5D1; }
  .categories i {
    font-size: 51px;
    color: #E1D5D1; }
  .categories span {
    font-size: 14px;
    color: #160507; }

.progress-container {
  width: 60%;
  height: 1.5em;
  position: relative;
  background-color: #f1f1f1; }

.progressbar {
  width: 50%;
  background: #E23949;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E23949, #FCAA3A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E23949, #FCAA3A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  position: absolute;
  line-height: inherit; }

@media screen and (min-width: 320px) and (max-width: 736px) {
  nav {
    justify-content: space-between !important; }
    nav i {
      width: 20%; }

  #nav-hidden {
    display: block;
    cursor: pointer; }

  .side-bar {
    z-index: 1;
    width: 100%;
    height: 0;
    position: absolute; }

  .total-exp, .total-income {
    justify-content: center; }
    .total-exp div, .total-income div {
      font-size: 23px;
      width: 200px; }

  .dollar-icon {
    font-size: 18px !important; }

  #all-transactions,
  #add_expense,
  #add_income,
  #budget-report {
    width: 100%; }

  #add_expense, #add_income {
    height: 100%; }
    #add_expense div input, #add_income div input {
      font-size: 21px; }

  .categories div {
    width: 32%;
    min-height: 116px; }

  #add_expense > div button, #add_income > div button {
    width: 100%;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0; }

  #budget-report ul {
    margin: 20px auto; }

  #budget-report h2 {
    margin: 5px auto 0 auto;
    width: 100px;
    font-size: 14px; }

  .spending-list li,
  .budget-list li {
    font-size: 14px; }

  .budget-list li:last-child {
    text-align: right; }
  .budget-list li:nth-child(2) {
    text-align: center; }

  .progress-container {
    width: 33%; }

  .spending-list span {
    width: 71px; }

  .balance-container, .transactions-list li {
    width: 100%; }

  .income-amount, .expense-amount, .balance-label {
    margin-right: 0; } }

/*# sourceMappingURL=style.css.map */
