body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  letter-spacing: 2px; }

.backgr-red {
  background-color: #E23949; }

.backgr-org {
  background-color: #FCAA3A; }

.centered-row {
  display: flex;
  align-items: center;
  justify-content: center; }

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

nav {
  width: 100%;
  height: 79px;
  background-color: #FCAA3A;
  color: #fff;
  font-size: 25px;
  justify-content: initial !important; }
  nav i {
    width: 50%;
    text-align: center; }

.body-content {
  display: flex; }

.side-bar {
  width: 22%;
  height: 100%; }

.total-income,
.total-exp {
  height: 150px;
  width: 100%;
  color: #fff;
  justify-content: space-around; }
  .total-income i,
  .total-exp i {
    font-size: 47px; }
  .total-income span,
  .total-exp span {
    display: block;
    margin-top: 9px;
    font-size: 26px; }
  .total-income > div,
  .total-exp > div {
    font-size: 14px;
    text-align: right; }

.dollar-icon {
  font-size: 10px !important; }

.side-nav-list-container {
  width: 100%; }

.side-nav-list {
  list-style: none;
  color: #160507;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .side-nav-list li {
    height: 60px;
    width: 100%;
    cursor: pointer; }
  .side-nav-list i {
    margin-left: 19px; }
  .side-nav-list span {
    border-bottom: 0.5px solid #E1D5D1;
    width: 80%;
    padding-bottom: 15px;
    display: inline-block;
    float: right; }

#add_expense,
#add_income {
  display: none; }

#all-transactions,
#add_expense,
#add_income {
  width: 79%;
  overflow-x: hidden;
  overflow-y: scroll; }
  #all-transactions p,
  #add_expense p,
  #add_income p {
    width: 100%;
    height: 29px;
    text-align: center;
    margin: 0;
    padding: 20px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 20px; }

.transactions-list {
  list-style: none;
  color: #160507;
  width: 100%;
  padding: 0; }

.balance-container,
.transactions-list li {
  height: 60px;
  width: 96%;
  font-size: 24px; }
  .balance-container > div,
  .transactions-list li > div {
    border-bottom: thin solid #E1D5D1;
    width: 90%;
    float: right;
    padding-bottom: 15px;
    font-size: 16px;
    display: flex;
    justify-content: space-between; }
  .balance-container i,
  .transactions-list li i {
    text-align: center;
    margin-left: 38px;
    width: 20px;
    height: 100%; }

.expense-category::first-letter,
.income-category::first-letter {
  text-transform: uppercase; }

.income-amount,
.expense-amount,
.balance {
  margin-right: 20px; }

#add_expense,
#add_income {
  height: 88vh; }
  #add_expense > div,
  #add_income > div {
    margin: 26px auto 0 auto;
    width: 90%; }
    #add_expense > div label, #add_expense > div input,
    #add_income > div label,
    #add_income > div input {
      height: 35px; }
    #add_expense > div label,
    #add_income > div label {
      width: 100%;
      color: #E23949;
      font-size: 14px; }
    #add_expense > div input,
    #add_income > div input {
      width: 100%;
      color: #E1D5D1;
      border-bottom: 2px solid #E1D5D1;
      border-top: none;
      border-right: none;
      border-left: none;
      padding-left: 4px;
      font-size: 24px;
      margin-bottom: 10px; }
    #add_expense > div input::first-letter,
    #add_income > div input::first-letter {
      text-transform: uppercase; }
    #add_expense > div input::-webkit-input-placeholder,
    #add_income > div input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #E1D5D1; }
    #add_expense > div input::-moz-placeholder,
    #add_income > div input::-moz-placeholder {
      /* Firefox 19+ */
      color: #E1D5D1; }
    #add_expense > div input:-ms-input-placeholder,
    #add_income > div input:-ms-input-placeholder {
      /* IE 10+ */
      color: #E1D5D1; }
    #add_expense > div input:-moz-placeholder,
    #add_income > div input:-moz-placeholder {
      /* Firefox 18- */
      color: #E1D5D1; }
    #add_expense > div input:focus,
    #add_income > div input:focus {
      outline: none !important;
      border: 1px solid #E23949;
      box-shadow: 0 0 10px #719ECE; }
    #add_expense > div button,
    #add_income > div button {
      color: #fff;
      border: 1px solid #E23949;
      height: 55px;
      width: 379px;
      margin-bottom: 26px;
      cursor: pointer;
      font-size: 20px; }
    #add_expense > div button:focus,
    #add_income > div button:focus {
      outline: none; }
    #add_expense > div input:nth-child(2),
    #add_income > div input:nth-child(2) {
      text-align: right;
      padding-right: 10px; }

.categories {
  width: 380px !important;
  height: 100% !important;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .categories > div {
    width: 125px;
    min-height: 125px;
    cursor: pointer; }
  .categories > div:first-child, .categories > div:nth-child(3) {
    border: thin solid #E1D5D1; }
  .categories > div:nth-child(2) {
    border-top: thin solid #E1D5D1;
    border-bottom: thin solid #E1D5D1; }
  .categories > div:nth-child(4), .categories > div:nth-child(6) {
    border-bottom: thin solid #E1D5D1;
    border-left: thin solid #E1D5D1;
    border-right: thin solid #E1D5D1; }
  .categories > div:nth-child(5) {
    border-bottom: thin solid #E1D5D1; }
  .categories i {
    font-size: 51px;
    color: #E1D5D1; }
  .categories span {
    font-size: 14px;
    color: #160507; }

/*# sourceMappingURL=style.css.map */
